/* Reset body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #303030; /* 글자 컬러 */
    background-color: #303030; /* 배경색 */
}

/* Header 스타일 */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* 헤더 아래 흰색 그림자 추가 */
}

/* 검색창 스타일 */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #303030;
}

/* From Uiverse.io by alexruix */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 300px; /* input 길이 늘리기 */
}

.input {
    width: 100%;
    height: 50px; /* 높이 늘리기 */
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f4f4f4;
    color: #f4f4f4; /* 글자 색을 더 밝은 색으로 */
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: #ea4c8940; /* 포인트 컬러 */
    background-color: #fff;
    box-shadow: 0 0 0 4px #ea4c891a; /* 포인트 컬러 */
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/* Footer 스타일 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
}
